# Pandas: Data Preparation
In this section we're going to cover different data pre processing techniques to clean the data for data science purposes.
For the first exercise take a look at `dropna()` and `drop_duplicates()` in the Pandas library.

In [110]:
#Data Ingestion
import pandas as pd
raw_data = pd.read_pickle('csv_data/RawDailyDelhiClimate.pkl')
raw_data

           date   meantemp   humidity wind_speed meanpressure
0    2017-03-19  24.666667  52.277778   9.161111  1011.888889
1    2017-01-02       18.5  77.222222   2.894444  1018.277778
2    2017-01-28  14.863636  82.772727   9.690909  1019.636364
3    2017-01-03  17.111111  81.888889   4.016667  1018.333333
4             a          b          c          d            e
..          ...        ...        ...        ...          ...
122  2017-02-24     19.125     40.375    16.6625     1016.125
123  2017-01-29  15.666667  81.777778  10.294444  1017.388889
124  2017-02-21  21.833333  69.416667  12.341667  1007.416667
125  2017-02-09     15.375     68.375      7.875     1016.375
126        9999       -999      -1000       1000         -550

[127 rows x 5 columns]

Exercise 1: Basic cleaning
1. What kind of data inconsistencies can you spot?
2. Delete missing values from the data set.
3. Delete duplicate values from the data set.

In [111]:
#Write your solutions for exercise 1 here.

Exercise 2: Intermediate cleaning

1. Write a function that includes the cleaning steps from the previous exercise, that takes a data frame as input and returns a cleaner data frame.
2. Solve the other data inconsistencies in the data set and include this solution in the function you just wrote.
3. Write the data as a csv named 'Clean{YOUR NAME}DailyDelhiClimate'.

In [112]:
#Write your solutions for exercise 2 here.

Exercise 3: Advanced Data quality check
We've prepared a data set that is already clean. Now we use this prepped data set a double check.

1. Read BOTH the prepped data csv file and the cleaned data set csv file that you just created. Do you notice anything different? If so, do you understand where it comes from?
2. Create a solution that solves the difference in the first question of this exercise.
3. Create a function that checks if the two data sets are the same or not.
4. Create a nice weather function that adds a new column to the existing data set.
5. Save the resulting data set.

In [113]:
#Write your solutions for exercise 3 here.